p.portfolio-item-descp {
  margin-top: -3px;
  font-size: 10px;

  @include mq(tabletp) {
    margin-top: -8px;
    font-size: 16px;
  }

  @include mq(laptop) {
    margin-top: -9px;
    font-size: 18px;
  }
}

h4 {
  @include mq(tabletp) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
}