p.portfolio-item-descp {
  margin-top: -3px;
  font-size: 10px;

  @include mq(tabletp) {
    margin-top: -8px;
    font-size: 16px;
  }

  @include mq(laptop) {
    margin-top: -9px;
    font-size: 18px;
  }
}

h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.single {

  h1, h2, h3, h4, h5, h6, p, ul, ol {

    @include mq(laptop) {
      padding-right: 150px;
    }

    @include mq(desktop) {
      padding-right: 300px;
    }
  }
}


h1, h2, h3, h5, h6, p, ul, ol {

  @include mq(laptop) {
    padding-right: 150px;
  }

  @include mq(desktop) {
    padding-right: 300px;
  }
}

h2.blog-post__title {
  padding-right: 0;
}

p.blog-post__subtitle {
  padding-right: 0;
}